
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background: #f5ebce;
    box-shadow: 0 10px 20px 0 rgba(19, 85, 85, 0.36);
    width: 100%;
    padding: 0 20px;
    height: 55px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
}

.user img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    left: 1430px;
   
}

.logo h1 {
    color: #1d5674;
}

.search {
    position: relative;
    width: 50%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #ffffff;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}




/* sidebar */

.sidebar {
    position: fixed;
    top: 55px;
    width: 225px;
    height: calc(100% - 50px);
    background: #1d5674;
    overflow-x: hidden;
    box-shadow: 5px 20px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #ffffff;
}

.sidebar ul li:hover a {
    color: #1d5674;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fcfbfb;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #ffffff;
}

.cards {
    width: 97%;
    padding: 35px 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5ebce;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
a{
    text-decoration: none;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
}

.card-name {
    color: #000000;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #1d5674;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}





.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #120101;
    border-radius: 25px;
    margin-top: 5px;
    padding: 30px;
   
  }
  
  .th {
  background:#1d5674;
  color:#ffffff;
    text-align: center;
    padding: 16px;
  
  }
  .td{
  text-align: center;
    padding: 16px;
  }
  
  .th:first-child, td:first-child {
    text-align: left;
  }

  table1 {
    
    width: 100%;
    
    border-radius: 25px;
    
    padding: 80px;
   
  }
  
  th {
    background:#1d5674;
    color:#ffffff;
    text-align: center;
    padding: 16px;
  
  }
  
  
  
  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }


.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #1c1616;
    text-align: center
}

@media (max-width:1116px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:900px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    .cards {
        width: 100%;             
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
} 